.App {
  text-align: center;
  background-color:#333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
  margin-top:20px;
}

.picture {
  width:9vh;
  height:9vh;
  border-radius:20%;
  margin-top:10px;
  margin-bottom:-25px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Modal Stlyes */

.modal {
  position: fixed;
  width: 100%;
  display: flex;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 100;
}

.modal-card {
  background: white;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  padding: 20px;
  max-width: 60%;
  height:80%;
  width: 100%;
  display:flex;
  flex-direction: row;
 
}

 h1 {
  color: black;
}

h2 {
  color: black;
}

h3 {
  color: black;
}

h5 {
  color: black;
}

.modal-picture {
  width:12vh;
  height:12vh;
  border-radius:20%;
  margin-top:10px;
  margin-bottom:-25px;
}

.left-column {
  width:33%;
  height:100%;
}

.middle-column {
  width:33%;
  height:100%;
  display: flex;
  flex-direction: column;
 
}

.right-column {
  width:33%;
  height:100%;
}

.row-one {
  width: 100%;
  height:30%;
}

.row-two {
  width: 100%;
  height:40%;
}

.row-three {
  width: 100%;
  height:30%;
}

.top-row {
  width: 100%;
  height:50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid black;
}

.bottom-row {
  width: 100%;
  height:50%;
  display: flex;
  flex-direction:column;
  align-items: center;
  margin-bottom:10px;
}

.close-button {
  margin-top:5vh;
}

