.App {
  text-align: center;
  background-color:#f4f4f4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
  
}

.header {
  width:100%;
  height: 10vh;
  background:#282c34;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
  margin-right:10px;
  display:inline;
}

.logo-loading {
  animation: rotation 4s infinite linear;
  margin-top:5vh;
  width:10%;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
    
}



.picture {
  width:11vh;
  height:11vh;
  border-radius:20%;
  margin-top:20px;
  margin-bottom:-20px;
}

.App-link {
  color: #61dafb;
}

/* Modal Stlyes */

.modal {
  position: fixed;
  width: 100%;
  display: flex;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 100;
  background:#282c34;
}

.modal:hover{
  cursor: inherit;
}

.modal-card {
  background: white;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  padding: 20px;
  max-width: 60%;
  height:85vh;
  display:flex;
  flex-direction: row;
  
}

.modal-card:hover{
  cursor: inherit;
}

 h1 {
  color:#282c34;
}

h2 {
  color:#282c34;
  font-size:2rem;
}

h3 {
  color:#282c34;
  font-size:1.5rem;
}

h5 {
  color:#282c34;
  font-size:1rem;
}

.modal-picture {
  width:16vh;
  height:16vh;
  border-radius:20%;
  margin-top:10px;
  margin-bottom:-25px;
}

.left-column {
  width:35%;
  height:100%;
}

.middle-column {
  width:30%;
  height:100%;
  display: flex;
  flex-direction: column;
  margin-right:.2%;
}

.right-column {
  width:35%;
  height:100%;
  
}

.row-one {
  width: 100%;
  height:20%;
  margin-top:-5%;
  border-bottom: 2.25px solid #282c34;
  padding-bottom:5%;
}

.row-two-left {
  width: 100%;
  height:40%;
  border-bottom: 2.25px solid #282c34;
  padding-bottom:5%;
  margin-top:12%;
  margin-right:2%;
  
}

.row-two-right {
  width: 100%;
  height:40%;
  
  padding-bottom:5%;
  margin-top:12%;
  margin-left:3%;
  
}

.row-three-left {
  width: 100%;
  height:30%;
margin-top:2%;
  
}

.row-three-right {
  width: 100%;
  height:30%;
margin-top:2%;
border-top: 2.25px solid #282c34;
}

.top-row {
  width: 100%;
  height:50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 2.25px solid #282c34;
  border-radius: 10px 10px 0px 0px;
}

.bottom-row {
  width: 100%;
  height:50%;
  display: flex;
  flex-direction:column;
  align-items: center;
  
  border: 2.25px solid #282c34;
  border-top:none;
  padding-top: 2%;
  padding-bottom: 5%;
  border-radius: 0px 0px 10px 10px;
}

.close-button {
  margin-top:5vh;
}

.chart-container {
  position: relative;
  margin: auto;
  width:100%;
  height: 100%;
}

@media only screen and (max-width: 1500px) {
  .picture {
    width:10vh;
    height:10vh;
  }
  h2 {
    color:#282c34;
    font-size:1.75rem;
  }
  
  h3 {
    color:#282c34;
    font-size:1.25rem;
  }
  
  h5 {
    color:#282c34;
    font-size:.85rem;
  }
  .row-two {
    width: 100%;
    height:37%;
    border-bottom: 2.5px solid #282c34;
    padding-bottom:5%;
    margin-top:10%;
  }
  .row-three {
    width: 100%;
    height:33%;
    margin-top:0%;
    
  }
  .chart-container {
    position: relative;
    margin: auto;
    width:90%;
    
  }
  .modal-card {
    background: white;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    padding: 20px;
    max-width: 75%;
    height:90vh;
    display:flex;
    flex-direction: row;
  }
  
}